<h1 class="text-center top-margin-big">За Checkmark</h1>

<hr>
<blockquote>
    <p>
        Checkmark пренася традиционния училищен дневник в интернет,  добавя нова функционалност и гъвкавост към него и го прави леснодостъпен за всички ученици, родители и учители.
    </p>
</blockquote>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <img src="src/images/classbook.png" alt="Дневникът" class="img-responsive img-thumbnail">
    </div>
</div>
<hr>
<blockquote>
    <p>
        Checkmark предоставя възможност на всеки потребител да регистрира училище или клас, а също и да се присъедини като ученик към вече регистрирани такива. Данните, до които потребителите на приложението имат достъп, са както традиционните оценки, отсъствия, забележки, така и такива, които не могат да намерят в обикновения дневник - новини, статистика на успеха и отсъствията и други.
    </p>
</blockquote>
<hr>
<blockquote>
    <p>
        Checkmark се отличава със своята достъпност, приложимост и леснота за употреба.
    </p>
</blockquote>
<hr>
 
