<div class="jumbotron" style="margin-top: 21px">
    <h1>Checkmarк</h1>
    <p>Електронен дневник за българското училище</p></h2>
    <a href="#learn-more" class="btn btn-success">Научи повече</a>
    <a href="#register" class="btn btn-success">Регистрация</a>
</div>


        <!-- <a href="#register-student" class="btn btn-success">Регистрирай ученик</a>
        <a href="#register-class" class="btn btn-success">Регистрирай клас</a>
        <a href="#register-school" class="btn btn-success">Регистрирай училище</a>-->    </div>

