/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    height: 100%;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

.footer .col-md-12 hr {
    margin: 0 0 17px 0;
}

.footer .col-md-12 .footer-text {
    vertical-align: middle;
}

/* Fixed navbar styles */
body > .container {
    padding-top: 60px;
}

.form-group.required .control-label:after {
    content: " *";
    color: #039;
}

.bot-margin {
    margin-bottom: 20px;
}

.bot-margin-big {
    margin-bottom: 40px;
}

.top-margin {
    margin-top: 15px;  
}

.top-margin-big {
    margin-top: 40px;
}

.toast-top-center { 
    top: 10%; 
    left: 50%; 
    margin-left: -150px; 
} 
@media all and (max-width: 240px) { 
    .toast-top-center { 
        margin-left: -54px; 
    } 
} 
@media all and (min-width: 241px) and (max-width: 320px) { 
    .toast-top-center { 
        margin-left: -64px; 
    } 
} 
@media all and (min-width: 321px) and (max-width: 480px) { 
    .toast-top-center { 
        margin-left: -96px; 
    } 
}