<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Дневник</h1>
        </div>
    </div>
</div>

<h2 class="text-center bot-margin">Отсъствия {{absences.schoolClass}}</h2>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Извинени</th>
                    <th>Неизвинени</th>
                </tr>
            </thead>
            <tbody>
                <form name="absences" novalidate>
                    <tr ng-repeat="absence in absences | orderBy: 'number'">
                        <td>{{absence.number}}</td>
                        <td class="col-md-1">
                            <div class="form-group" show-validation>
                                <input class="form-control input-sm" required type="text" ng-model="absence.excused" ng-pattern="/^\d{1,3}$/">
                            </div>
                        </td>
                        <td class="col-md-1">
                            <div class="form-group" show-validation>
                                 <input class="form-control input-sm" required type="text" ng-model="absence.inexcused" ng-pattern="/(^\d+$)|(^\d+\/\d+$)|(^\d+\s+\d+\/\d+$)/">
                            </div>  
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button ng-disabled="absences.$invalid" ng-click="updateAbsences(absences)" class="btn btn-default btn-block">Запази промените</button>
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
</div>