<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Дневник</h1>
        </div>
    </div>
</div>

<h2 class="text-center bot-margin">Оценки по {{marksSubject}}{{marks}}</h2>


<div class="col-md-8 col-md-offset-2 top-margin">
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>№</th>
            <th colspan="10" class="text-center">Оценки</th>
        </tr>
    </thead>
    <tbody>
        <form name="marks" novalidate>
            <tr ng-repeat="studentMarks in marks | orderBy: 'number'">
                <td>{{studentMarks.number}}</td>
                <td ng-repeat="mark in studentMarks.marks track by $index">
                    <div class="form-group" show-validation>
                        <input ng-model="studentMarks.marks[$index]" class="form-control input-sm" type="text" size="1" ng-pattern="/^[2-6]$/">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="11">
                    <button ng-disabled="marks.$invalid" ng-click="updateMarks(marks)" class="btn btn-default btn-block">Запази промените</button>
                </td>
            </tr>
        </form>
    </tbody>
</table>
</div>
